:root {
    --input-font-size: 13px;
    --input-height: 20px;
    --input-container-padding: 4px;
}

.MuiInputLabel-root {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
    height: 100%;
}

.MuiInputLabel-shrink {
    max-width: 125%;
}

.input-container {
    padding: var(--input-container-padding);
}

.input-container input:focus-visible {
    outline-offset: 0;
}

.input-container input {
    font-size: var(--input-font-size);
    height: var(--input-height);
    padding: 6px 8px;
    border-radius: 4px;
    z-index: 1;
    margin: 2px;
}

.input-container label {
    font-size: var(--input-font-size);
}

.input-container label[data-shrink="true"] {
    top: 0;
    padding: 2px;
}

.input-container span {
    font-size: var(--input-font-size);
}

.input-container div {
    font-size: var(--input-font-size);
}
