.page {
    background-color: inherit;
    width: 100%;
    max-width: 500px;
    color: #2f2d2d;
    text-align: left;
}

.page:nth-child(even) {
    background-color: #f5f5f5;
}

.pages {
    width: 100%;
    max-width: 500px;
    color: #2f2d2d;
    text-align: left;
}

.item {
    color: #2f2d2d;
    text-align: left;
    padding-bottom: 2px;
    padding-top: 2px;
    max-width: 500px;
    width: 100%;
}

.category {
    text-align: left;
    padding: 8px 16px;
    background-color: #68a3da;
    color: white;
    max-width: 500px;
    font-weight: normal;
    font-size: 13px;
    width: auto;
}

.pages-container {
    padding: 10px;
}
