.button-container {
    padding: 20px 30px;
    background-color: rgba(228,233,245,0.46);
    display: flex;
    justify-content: flex-end
}

.button {
    height: 34px;
    width: 100px;
}

.form-controls-container {
    padding-top: 12px;
    padding-bottom: 14px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.form-controls-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.form-controls-container::-webkit-scrollbar-thumb {
    border: 2px solid white;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .3);
}
